body {
  background-color: white;
  padding: 5px;

  padding-bottom: 3em;
  margin-bottom: 1em;
}

canvas {
  background-color: skyblue;
}

div.container {
  margin: auto;
  width: 350px;
}

button.button {
  height: 100px;
  width: 150px;

  font-size: 2em;
}

div.button-con {
  width: 150px;
  margin: auto;
}

div.loading {
  text-align: center;
  font-family: sans-serif;

  margin-top: 5em;
}

.label {
  display: block;
  font-size: 1.5em;
  font-family: sans-serif;
  margin-bottom: 15px;
}

input[type="range"] {
  width: 100%;
}

button.flap {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

div.control {
  background-color: #ededed;
  padding: 15px;
  margin-top: 5px;
}
